body {
  background-image: url('/src/components/todo_bg.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  margin: 0;
  padding: 20px;
  font-weight: 600;
  color: rgba(251, 107, 184, 0.853) ; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

.app {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: rgb(252, 196, 219);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; 
}

h1 {
  text-align: center;
}

input {
  margin-right: 10px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-left: 1vh;
  background-color: #f36498;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #b30048;
}

div {
  margin-bottom: 10px;
}


